.footer {
  display: flex;
  justify-content: center;
  gap: 4px;
  text-align: center;
}
.firstFOnt {
  color: #6b7280;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.secondFont {
  color: #3b73ed;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
